body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 32px;
}

header {
    background-color: #ead9ff;
    border-bottom: 1px solid #ead9ff;
    text-align: center;
    height: 100px;
}


main {
    border-bottom: 1px solid #ccc;
}

#gu_btn img,
#cho_btn img,
#par_btn img {
    width: 50px;
    height: auto;
}

footer {
    background-color: #ead9ff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

p {
    font-size: 200%;
    text-align: center;
    border-bottom: 1px solid #fff;
    height: 200px;
}

ul {
    padding: 0;
    border-top: 1px solid #000000;
    display: table;
    /* 定義 */
    table-layout: fixed;
    width: 100%;
}

li {
    text-align: center;
    list-style-type: none;
    border: 1px solid #666;
    background-color: #FFF;
    display: table-cell;
    /* 定義 */
    cursor: pointer;
}

li:hover {
    background: #0066CC;
    color: #fff;
}


.center {
    display: block;
    margin: 0 auto;
}